%h2 Recetas

%table#recetas
  %tbody
    - @recetas.each do |receta|
      %tr
        %td= link_to "#{receta.titulo}" , receta_path(receta) 
        %td= receta.preparacion
        %td= receta.puntuacion