/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ 
background-color: #87C2F0;  
}
 
TITULO a{
  color: #1b80a1;
  font-size: 200%;
  font-style: italic bold;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #1b80a1;
}

BARRA {
  color: black;
  font-style: italic;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #1b80a1;
}



	
#warning{
  color: white;
  background: #41b3d9;
  margin: 1em 0;
  padding: 4px;
}	

#notice {
  color: white;
  background: #41b3d9;
  margin: 1em 0;
  padding: 4px;
}	
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
}

toolbar{
  margin: 0 0 0;
  padding: 5px;
  background-color: #41b3d9;
  color: white;
  border-top:4px solid #1b80a1;
  border-bottom: 4px solid #1b80a1;
  font-size: 1em;
  font-style: normal;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  text-align:center;
}

.barra {
  color: white;
  width:100%;
  text-decoration: none;
  margin: 8px;
}

links{
  padding: 5px;
  font-size: 25px;
  font-style: normal;
  position:absolute;
  left:0px;
  right:0px;
  text-align:center;
}

.homepage_link{
  color: black;
  width:100%;
  text-decoration: none;
  margin: 8px;
}

img{
  display: block;
	margin-left: auto;
	margin-right: auto; 
	}
