/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ 
background-color: #87C2F0;  
}
 
TITULO {
  color: blue;
  font-size: 200%;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid DarkSlateGrey;
}
BARRA {
  color: black;
  font-style: italic;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid DarkSlateGrey;
}

img{
  display: block;
	margin-left: auto;
	margin-right: auto; 
	}
#warning{
  background: orange;
  margin: 1em 0;
  padding: 4px;
}	
#notice {
  background: yellow;
  margin: 1em 0;
  padding: 4px;
}	
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
}
